
body.Green {
	--ion-color-primary: #18c77d;
	--ion-color-primary-rgb: 24,199,125;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #15af6e;
	--ion-color-primary-tint: #2fcd8a;
	--ion-color-secondary: #159d64;
	--ion-color-secondary-rgb: 21,157,100;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #128a58;
	--ion-color-secondary-tint: #2ca774;
	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;
	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;
	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;
	--ion-color-danger: #ff3b3b;
	--ion-color-danger-rgb: 255,59,59;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #e03434;
	--ion-color-danger-tint: #ff4f4f;
	--ion-color-dark: #2d2d2d;
	--ion-color-dark-rgb: 45,45,45;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #282828;
	--ion-color-dark-tint: #424242;
	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;
	--ion-color-light: #ffffff;
	--ion-color-light-rgb: 255,255,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0e0e0;
	--ion-color-light-tint: #ffffff;
	--ion-background-color: #f8f8f8;
	--ion-background-color-rgb: 248,248,248;
	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;
	--ion-color-step-50: #ececec;
	--ion-color-step-100: #dfdfdf;
	--ion-color-step-150: #d3d3d3;
	--ion-color-step-200: #c6c6c6;
	--ion-color-step-250: #bababa;
	--ion-color-step-300: #aeaeae;
	--ion-color-step-350: #a1a1a1;
	--ion-color-step-400: #959595;
	--ion-color-step-450: #888888;
	--ion-color-step-500: #7c7c7c;
	--ion-color-step-550: #707070;
	--ion-color-step-600: #636363;
	--ion-color-step-650: #575757;
	--ion-color-step-700: #4a4a4a;
	--ion-color-step-750: #3e3e3e;
	--ion-color-step-800: #323232;
	--ion-color-step-850: #252525;
	--ion-color-step-900: #191919;
	--ion-color-step-950: #0c0c0c;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
}