
/* Styles properties */
ion-button[_aio-B7BDFD10] {
	position: sticky;
	top: 100%;
}
div[_aio-FA99CE04] {
	text-align: center;
	font-size: 30px;
	border-color: #cccccc;
	position: sticky;
	top: 50%;
	color: #999999;
}