
/* Styles properties */
ion-button[_aio-20D5F1BD] {
	margin-left: 70%;
	width: 100px;
}
ion-button[_aio-D7188054] {
	position: sticky;
	top: 100%;
}
ion-button[_aio-3962EEBA] {
	position: sticky;
	top: 85%;
}
ion-button[_aio-C811631F] {
	margin-top: 80%;
}